{% load static %}
<!DOCTYPE html>
<head>
<title>Login</title>
<style>
    input[type=text], input[type=password]{
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    } 
    input[type=submit]{
        padding: 6px 20px;
        background-color: aquamarine;
    }
    .login-box{
        background-color: rgb(239, 249, 212); 
        margin: 100px auto;
        max-width: 700px;
        padding: 30px;
    }
    .footer{
        padding: 30px 0;
    }
</style>

</head>
<body  style="background-color: rgb(233, 253, 133) !important ;">
<br>
<br>	
<div>
    <center>
        <div class="login-box"> 
            <h2>Sign In Now</h2> 
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text"  name="username" placeholder="Username" required="">
                <br><br>
                <input type="password" name="password" placeholder="Password" required=""><br><br>
                    <input type="submit" value="Sign In" name="login">
            </form>
            <div class="footer"> 
                Doesn't have an account? <a href="{% url 'register_page' %}">Register</a>
            </div>
        </div>
    </center>

</div>
</body>
</html>
