{% load static %}
<!DOCTYPE html>
<head>
<title>Home</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<style>
    td {
        padding:10px;
    }
    th{
        padding:5px 10px;
    }
    
</style>
</head>
<body  style="background-color: rgb(233, 253, 133) !important ;">
<br>
<br>	

<div>
    {% include 'navbar.html'  %}
<div>
    <center>
        <h2>View messages</h2>
    </center>
    <table border="1" width="100%" style="background-color: rgb(239, 249, 212); border-collapse: collapse; ">
        <thead>
          <tr>
            <th align="left">Id</th>
            <th align="left">Content</th>
            <th align="left">User</th>
            <th align="left">Date</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
            {% for i in msg %}
              <tr>
                <td id="id">{{i.id}}</td>
                <td>{{i.content}}</td>
                <td>{{i.username}}</td>
                <td>{{i.created_date}}</td>
                <th><input type="button" name="Delete" class="delete" value="DELETE"></th>
                <form action="{% url 'edit_msg_page' %}" method="post">
                    {% csrf_token %}   
                    <input type="text" value="{{i.id}}" name="id" hidden>    
                    <th><input type="submit" class="edit" value="EDIT"></th>
                </form>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.delete').click(function () {
            var row = $(this).closest("tr");
            var id = row.find('#id').html();
            $.ajax({
                url: '/delete_msg/',
                datatype: "json",
                data: { 'id': id },
                success: function (data) {
                    //alert(data);
                    window.location.href = '/view_messages/';
                }
            })
        })

    })
</script>

</body>
</html>


